{% extends "base.html" %}
{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>{% lorem 2 w %}</h1>
      <p>{% lorem %}</p>
      <p><a class="btn btn-primary btn-lg" href="#"
        role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Latest Blog Post</h2>
        <p>{% lorem 2 %}</p>
        <p><a class="btn btn-default" href="#"
          role="button">More &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Latest Projects</h2>
        <ul>
          {% for _ in "12345" %}
            <li><a href="">{% lorem 3 w random %}</a></li>
          {% endfor %}
        </ul>
        <p><a class="btn btn-default" href="#"
          role="button">More &raquo;</a></p>
      </div>
    </div>

    <hr>
    <footer>
      <p>University of Tehran | Computer Science Club</p>
    </footer>
  </div> <!-- container -->
{% endblock content %}
