{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CS Club</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="users">users</a></li>
                    <li><a href="#projects">Projects</a></li>
                </ul>
            </div><!-- nav-collapse -->
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>{% lorem 2 w %}</h1>
      <p>{% lorem %}</p>
      <p><a class="btn btn-primary btn-lg" href="#"
        role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Latest Blog Post</h2>
        <p>{% lorem 2 %}</p>
        <p><a class="btn btn-default" href="#"
          role="button">More &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Latest Projects</h2>
        <ul>
          {% for _ in "12345" %}
            <li><a href="">{% lorem 3 w random %}</a></li>
          {% endfor %}
        </ul>
        <p><a class="btn btn-default" href="#"
          role="button">More &raquo;</a></p>
      </div>
    </div>
  </div> <!-- container -->
{% endblock content %}
