{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{students.count}} Member students</a>
            </div>
            
        </div>
    </nav>
    </br>
{% endblock navbar %}



{% block content %}
  <br><br>
   <div class="container">
        <div class="row">
            <div class="col-md-6">
              
 
               
            </div>
            
        </div>
    </div>

  
{% for student in students %}
               
                
            <div class="container">
        <div class="row">
            <div class="col-md-2">
              <img src={{ student.pic.url }} class="img-rounded"  width="100" height="100">
            </div>
            <div class="col-md-10">
                <a href='users/{{student.user}}'><h2>{{ student.user }}</h2></a>
                <p>{{ student.user.first_name }}  {{ student.user.last_name }}</p>

            </div>
            </div>
            
        </div>
    </div>
    <hr>
                  
            {% endfor %}
            
            {% endblock content %}
            
            
            
