{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CS Club</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="users">users</a></li>
                    <li><a href="#projects">Projects</a></li>
                </ul>
            </div><!-- nav-collapse -->
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <br><br><br>
    <div class='row col-sm-10 col-sm-offset-1' align="center">
        <br><p><strong><font size='5'>{{students.count}} Member students </font></strong></p><hr> 
    </div>
    {% for student in students %}                
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                  <img src={{ student.pic.url }} class="img-rounded"  width="100" height="100">
                </div>
                <div class="col-md-10">
                    <a href='{{student.user}}'><h2>{{ student.user }}</h2></a>
                    <p>{{ student.user.first_name }}  {{ student.user.last_name }}</p>
                </div>
            </div> 
            <hr> 
        </div>
    {% endfor %}
{% endblock content %}


